.pointer {
    cursor: pointer;
}

.text-white {
    color: white !important;
}

.intro__title {
    font-size: 30px;
}

.section-title {
    font-size: 27px;
}

.text-muted {
    color: rgb(160, 160, 160) !important;
}

.fw-semi-bold {
    font-weight: 700 !important;
}

.feature {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.icon__ducting {
    margin: auto;
    width: 80%;
    padding-top: 80%;
    background-image: url(../images/icons/ducting.svg);
    background-position: center center;
    background-size: cover;
}

.icon__service {
    margin: auto;
    width: 80%;
    padding-top: 80%;
    background-image: url(../images/icons/service.svg);
    background-position: center center;
    background-size: cover;
}

.icon__installation {
    margin: auto;
    width: 80%;
    padding-top: 80%;
    background-image: url(../images/icons/installation.svg);
    background-position: center center;
    background-size: cover;
}

.icon__unit_supply {
    margin: auto;
    width: 80%;
    padding-top: 80%;
    background-image: url(../images/icons/unit_supply.svg);
    background-position: center center;
    background-size: cover;
}

figure.entry__img-thumb {
    width: 100%;
    padding-top: 56%;
    position: relative;
    overflow: hidden;
    margin-bottom: 1rem;
}

figure.entry__img-thumb img {
    object-fit: cover;
    object-position: center center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


figure .category {
    font-size: .675rem;
    background: linear-gradient(45deg, #8539c9, #933b90);
    color: white
}

figure .category:hover {
    padding: .25rem;
    font-size: .65rem;
    background: linear-gradient(45deg, #7b30bb, #8a2d87);
    color: white
}

.entry .entry__subject {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

.project__title {
    font-size: 1rem;
}

.project__date {
    font-size: .875rem;
}

.about-section {
    padding: 0;
}

/* .page-title__holder {
    max-width: 878px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: left;
    padding: 0 1rem;
} */

.service-1 p {
    position: relative;
}

.service-1__info {
    padding: 20px 30px;
    transform: translateY(25px);
}

.service-1__info .service-1__title {
    font-size: 20px;
}

.nav,
.nav__holder.sticky {
    background: black;
}

.nav .nav__header img {
    height: 80%;
    max-height: 80px;
}

.nav__menu>li>a,
.nav__phone-text,
.nav__phone-number,
.social {
    color: rgb(134, 134, 134);
}

.nav__menu>.active>a {
    color: rgb(238, 238, 238);
}


.steps {
    max-width: 300px;
    margin: 0 auto;
}

.step {
    display: flex;
    position: relative;
}

.step:after {
    content: "";
    position: absolute;
    left: 15px;
    top: 32px;
    height: 0;
    width: 2px;
    background-color: rgb(160, 160, 160);
}

.step .info {
    margin: 8px 0 20px;
}

.step .title {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0 0 8px;
    padding: .25rem 1rem;
    background-color: black;
    color: white;
    display: inline-block;
}

.step .text {
    padding-bottom: 0;
    margin: 0;
}

.step:not(:last-child):after {
    height: 100%;
}

.number {
    width: 1rem;
    height: 1rem;
    background-color: white;
    border-radius: 50%;
    border: 2px solid rgb(98, 98, 98);
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    margin-right: 14px;
    transform: translate(8px, 18px);
    z-index: 2;
}

.number.completed {
    background-color: #007EA7;
}

.number svg {
    width: 16px;
    height: 16px;
    object-fit: contain;
}

.number svg path {
    fill: white;
}
